.box{
    width: 100%;
    height: 1.75rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    padding-bottom: 0.05rem;
    border-bottom: 1px solid #ccc;
}
.tuijian{
    width: 100%;
    position: absolute;
}
.tuijian img{
    width: 100%;
    height: 1.285rem;
}
.tuijian p{
    padding-left: 0.1rem;
    font-size: 0.16rem;
    height: 0.3rem;
    line-height: 0.3rem;
}
.tuijian>span:nth-of-type(1){
    position: relative;
    top:0.23rem;
    left: 0rem;
    width: 0.93rem;
    height: 0.02rem;
    background:rgba(229,0,79,0.8);
    font-size: 0.14rem;
    font-weight: bold;
    color:white ;
    border-radius: 0 20px 20px 0;
    padding-right: 0.2rem;
    padding-left: 0.1rem;
}
.tuijian .day{
    position: relative;
    bottom: 0.3rem;
    left: 2.78rem;
    z-index: 999;
    color: black;
}
.tuijian .day .day_time{
    color:rgba(229,0,79,0.8) 
}
.TMbox{
    width: 100%;
    height: 1.42rem;
    padding: 10px;
}
.TMbox .TMimg{
    width: 0.9rem;
    height: 1.2rem;
    float: left;
    border: 1px solid #ccc;
}
.TMbox .TMimg img{
    width: 100%;
}
.mask{position: fixed;top: 0;left: 0;width: 100%;background: rgba(0,0,0,.5); height: 100%;z-index: 999;}
.mask p{color:black;width: 20%;height: 30px;line-height: 3px;margin: 0 auto;margin-top: 30%;opacity: 1.0;}
.product_car{
    width: 1.42rem;
    height: 0.64rem;
    background: #f60;
    color: white;
    font-size: 0.24rem;
    line-height: 0.64rem;
    position: fixed;
    bottom: 60px;
    right: 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}