body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active{
    color: #e5004f
    
}
.list {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 58px;
    font-size:0.22rem ;
    line-height: 0.50rem;
    text-align: center;
    color: #666;
    background: white;
}
.list li{
    width: 20%;
    float: left;
}
.list span{
    font-size:0.13rem; 
    display: block;
    line-height: 0rem;
}
